/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


#body {
	border: 3px solid black;
	width: 90%;
	margin: 0 auto;
}

#header {
	border: 3px solid blue;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 800px) {
    #header {
        flex-direction: column-reverse;
        text-align: center;
    }
}

.nav {
    border: 3px solid red;
    display: flex;
    flex-grow: 0.9;
	justify-content: space-around;
}

@media (max-width: 500px) {
    .nav {
        flex-direction: column;
    }
}

#greatIdea {
    border: 3px solid green;
}

@media (max-width: 500px) {
    #greatIdea {
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
    }
}

.nav-link {
    color: grey;
    text-decoration: none;
    margin: 33px 0;
    border-top: 15px;
}

@media (max-width: 500px) {
    .nav-link {
        margin: 10px;
        padding-bottom: 25px;
        border-bottom: 1px solid grey
    }
}

#section2 {
	border: 2px solid brown;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 800px) {
    #section2 {
        justify-content: center;
    }
}

#div1 {
	border: 3px solid grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#innovation {
	border: 3px solid green;
	text-align: center;
	font-size: 50px;
	width: 450px;
}
#getStarted {
	border: 2px solid black;
	width: 100px;
	margin-left: 160px;
	text-align: center;
}

.imground {
    width: 100%;
}

#round {
	border :3px solid pink;
	display: inline-block;
	width: 100%;
	text-align: center;
}

@media (max-width: 800px) {
    #round {
        display: none;
    }
}

.div2 {
	border: 3px solid purple;
	display: inline-block;
	width: 450px;
	margin: 20px;
}

@media (max-width: 500px) {
    .div2 {
        width: 90%;
    }
}

.mid-img {
	border: 3px solid yellow;
    text-align: center;
    width: 100%;
}
.middle-img {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 500px) {
    .middle-img {
        height: 90px;
    }
}

.div3 {
	display: inline-block;
	width: 280px;
	margin: 20px;
}

@media (max-width: 500px) {
    .div3 {
        width: 90%;
    }
}

#Section3 {
	display: flex;
	justify-content: space-between;
    border-top: 1px solid black;
}
#Section5 {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 500px) {
    #Section3 {
        flex-direction: column;	
    }
    #Section5 {
        flex-direction: column;	
    }
    .div2 {
        width: 90%;
    }
}

p {
	margin: 25px 0;
}
#address {
	margin: 50px 0 0 0px;
}
#copyright {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 90px;
}
#inno {
	text-align: center;
}
.courses {
	background-color: rgb(192, 189, 189);
	border: 2px solid purple;
	display: flex;
	justify-content: space-around;
}
.cos {
	border: 1px solid black;
}
.learn {
	border: 2px solid black;
	width: 85px;
}
.mid-img.iphone {
	display: flex;
}
.services-header-img {
	width: 1000px;
}
@media (max-width: 200px) {
	/* For mobile phones: */
	.body {
	  width: 30%;
	}
  }